<body>
<p>
	Country (initials) : </p>
  <select id="countrys" [(ngModel)]=searchString>
  <option value="BR">BRASIL</option>
  <option value="US">USA</option>
  <option value="IT">ITÁLIA</option>
  <option value="CN">CHINA</option>
</select>

<button (click)="searchApi(value)">Search</button>
<ul >
    <li *ngFor="let item of apiSearch.countrydata">
      <h3>Resumo</h3>
      <div>Total de casos: {{item.total_cases}}</div>
      <div>Total de mortes: {{item.total_deaths}}</div>
      <div>Casos descobertos hoje: {{item.total_new_cases_today}}</div>
      <div>Mortes hoje: {{item.total_new_deaths_today}}</div>
    </li>
</ul>



<my-server></my-server>
</body>